<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="bookDao" class="com.kaifamiao.dao.impl.BookDaoImpl" />-->
    <bean id="bookDao" class="com.kaifamiao.dao.impl.BookDaoImpl" >
        <property name="databaseName" value="mysql"/>
        <property name="timeout" value="5"/>
    </bean>

    <bean id="userDao" class="com.kaifamiao.dao.impl.UserDaoImpl" />
    <bean id="bookService" class="com.kaifamiao.service.impl.BookServiceImpl">
        <property name="bookDao" ref="bookDao" />
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>