<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookDao" class="com.kaifamiao.dao.impl.BookDaoImpl" />
<!--    <bean id="bookService" class="com.kaifamiao.service.impl.BookServiceImpl">-->
<!--        <property name="bookDao" ref="bookDao"/>-->
<!--    </bean>-->
    <!--autowire属性：开启自动装配，通常使用按类型装配-->
<!--    <bean id="bookService"-->
<!--          class="com.kaifamiao.service.impl.BookServiceImpl"-->
<!--          autowire="byType" />-->
    <!--autowire属性：开启自动装配，使用名称装配-->
    <bean id="bookService"
          class="com.kaifamiao.service.impl.BookServiceImpl"
          autowire="byName" />
</beans>