<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    <bean id="bookDao" class="com.kaifamiao.dao.impl.BookDaoImpl"/>
    -->

<!--    <bean id="orderDao" class="com.kaifamiao.dao.OrderDaoFactory" factory-method="getOrderDao"></bean>-->
<!--    <bean id="userFactory" class="com.kaifamiao.dao.UserDaoFactory"/>-->
<!--    <bean id="userDao" factory-method="getUserDao" factory-bean="userFactory"/>-->

    <bean id="userDao" class="com.kaifamiao.dao.UserDaoFactoryBean"/>
</beans>